<% content_for :javascripts do %>
    <%= javascript_include_tag 'cvg_editor' %>
<% end %>
<% content_for :stylesheets do %>
    <%= stylesheet_link_tag 'cvg_style' %>
<% end %>
<button class="btn btn-outline hidden" type="button" data-bs-toggle="offcanvas"
data-bs-target="#scratchpad-offcanvas" aria-controls="scratchpad-offcanvas" id="scratchpad-offcanvas-show-btn">
    <%= t '.start_coding' %>
</button>
<div class="offcanvas offcanvas-end" tabindex="-1" id="scratchpad-offcanvas" data-bs-keyboard="false" style="width: 85vw; max-width: 100%;">
    <div class="scratchpad-header">
        <h4>
            <%= activity_icon(@activity, 24) %>
            &nbsp; <%= t('.title', programming_language: @activity.programming_language.name.titleize) %>
            <sup><%= t '.beta' %></sup>
        </h4>
        <div class="flex-spacer"></div>
        <button class="btn-close btn-close-white" id="scratchpad-offcanvas-close-btn"
        data-bs-dismiss="offcanvas" aria-label="<%= t '.close' %>"></button>
    </div>
    <div class="offcanvas-body scratchpad-content" style="margin-top: 50px;">
    <!DOCTYPE html>
    <html lang="en">
    
    <head>
      <%= yield :stylesheets %>
    </head>
    
    <body>
    
      <h1>CVG Editor designed for Dodona</h1>
    
      <br>
    
      <div class="network-container">
    
        <!-- USER INTERFACE -->
        <div id="user-interface" class="vis-network">
          <div class="vis-manipulation">
            <button class="vis-button vis-add" id="btn-addNode">
              <div class="vis-label">Nieuw basisblok toevoegen</div>
            </button>
            <div class="vis-separator-line"></div>
            <button class="vis-button vis-connect" id="btn-addSolidEdge">
              <div class="vis-label" title="Shortcut: S">Voeg sprong toe</div>
            </button>
            <div class="vis-separator-line"></div>
            <button class="vis-button vis-connect" id="btn-addDashedEdge">
              <div class="vis-label" title="Shortcut: D">Voeg doorvalpad toe</div>
            </button>
            <div class="vis-separator-line"></div>
            <button id="btn-delete" class="vis-button vis-delete">
              <div class="vis-label" title="Shortcut: DEL">Selectie verwijderen</div>
            </button>
            <div class="vis-separator-line"></div>
            <button id="btn-copy" class="vis-button vis-copy">
              <div class="vis-label" title="Shortcut: C">Copy Solution</div>
            </button>
          </div>
          <text id="edgetext" style = "position:absolute"></text></id>
        </div>
        
    
        <div id="message-popUp" >
          <span style="position: absolute; top: 0px; right: 10px; font-size: 24px; font-weight: bold; cursor: pointer;" id="message-xButton">×</span>
          <p> <strong>Error!</strong> </p>
          <table style="margin: auto">
            <tr>
              <td>
                <p id="message">
              </td>
            </tr>
          </table>
          <input type="button" value="Close" id="message-closeButton" />
        </div>
        
    
        <br />
    
        <!-- GRAPH -->
        <table width=100%>
          <tr>
            <td>
              <div id="mynetwork"></div>
            </td>
            <td><select id="instruction-listing" multiple></select></td>
          </tr>
        </table>
    </body>
    
    </html>
    </div>
</div>


<script type="text/javascript">
  dodona.ready.then(function () {
        dodona.initCvgEditor();
    });
</script>
